<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head>
<meta charset="ISO-8859-1">
<title>Task Page</title>
</head>
<body>
<h1 style="text-align: center">Task Page</h1>
<h1 style="text-align: center;color: green">Add Your Task </h1>
<form th:action="@{/task/save}" method="POST" align="center">
<pre>
		Task 1 :: <input type="text" name="task1"/><br>
		Task 2 :: <input type="text" name="task2"/><br>
		Task 3 :: <input type="text" name="task3"/><br>
		Task 4 :: <input type="text" name="task4"/><br>
		<input type="submit" value="ADD NEW TASK">
</pre>
</form>
<h3 style="text-align: center;">
	<a th:href="@{/task/home/}">Home</a> |
	<a href="/task/pendingTasks">Get All Pending Tasks</a> |
	<a href="/task/pendingTaskByDate">Get Pending Task By Date</a> |
	<a href="/task/getAllFinishTasks">Get Finished Tasks</a>
</h3>	
<h3 style="text-align: center;color: red"><span th:text="${errMessage}"></span></h3>
<h3 style="text-align: center;color: teal"><span th:text="${message}"></span></h3>

</body>	
</html>