<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<title>show All Data</title>
</head>

<h1>show All Data</h1>
<nav class=" navbar navbar-default" >
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/task/home}">WorkAlertManagement</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a th:href="@{/task/home}">Home</a></li>
			<li><a href="/task/addNewTask">Add New Task</a></li>
			<li><a href="/task/pendingTasks">Get All Pending Tasks</a></li>
			<li><a href="/task/pendingTaskByDate">Get Pending Task By Date</a></li>
			<li><a href="/task/getAllFinishTasks">Get Finished Tasks</a></li>
			<li><a href="/profile/getProfile">Profile</a></li>
<!--     	  	<li><a href="/userLogin/home">Logout</a></li> -->
			<li><a th:href="@{/userLogin/getSignupPage}">SIGNUP</a></li>
			<li><a th:href="@{/customUserLogin/getLoginPage}">LOGIN </a></li>
	      	<li><a href="/customUserLogin/customLogout">LOGOUT</a></li>
	</nav>

<form th:action="@{/task/taskByDate}" method="GET">
<div th:if="${isListEmpty}">
  <span th:text="${message}"/>
</div>
<div th:unless="${isListEmpty}">
	<table border="1">
		<tr>
			<th>Id</th>
			<th>Task1</th>
			<th>Task2</th>
			<th>Task3</th>
			<th>Task4</th>
			<th>Task Date</th>
			<th>Operations</th>
		</tr>
		<tr th:each="ob:${taskList}">
			<td th:text="${ob.id}"></td>
			<td th:text="${ob.task1}"></td>
			<td th:text="${ob.task2}"></td>
			<td th:text="${ob.task3}"></td>
			<td th:text="${ob.task4}"></td>
			<td th:text="${ob.taskDate}"></td>
			<td><a href="#">DONE</a> | 
				<a href="#">EDIT</a> |
				<a href="#">DELETE</a> 
			</td>
		</tr>


	</table>
</div>	
	<span><a href="${message}"></a></span>
</form>
<body>

</body>
</html>