<html>
<head>
<title>dummy page</title>
</head>
<body>
	<script type="text/javascript">
		//variables
		var number = 1;
		var name = "manish";
		let number2 = 20;
		let name2 = "vicky";
		const number3 = "kukku";
		const name3 = "30";

		//functions
		function msg(msg) {
			alert(msg);
		}
		function wishMsg() {
			alert("Hey!, Good Morning Man");
		}
		//if...else..
		if (number > 10) {
			document.write("number is greater than 10 :: " + number);
		} else {
			document.write("number is not greater than 10 :: " + number);
			// 				msg("number is not greater than 10 ::"+number);
		}
	</script>
	<br>
	<h3>On loads</h3>
	<input type="button" onclick="wishMsg()" value="single click">
	<input type="button" ondblclick="wishMsg()" value="double click">


	<h3>Object Creation</h3>
	<script type="text/javascript">
		var emp = new Object();
		emp.id = "101";
		emp.name = "Manish";
		emp.address = "Nagpur";
		document.write("Your Id :: " + emp.id + "<br>");
		document.write("Your Name :: " + emp.name + "<br>");
		document.write("Your Address :: " + emp.address + "<br>");
	</script>

</body>
</html>