<!DOCTYPE html>
<html lang="en">
<head>
  <html xmlns:th="https://www.thymeleaf.org/">
 <title>Task Page</title>
 <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a class="navbar-brand" th:href="@{/task/home}">WorkAlertManagement</a>
	</div>
	<ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/task/home}">Home</a></li>
      <li><a href="/task/addNewTask">Add New Task</a></li>
      <li><a href="/task/pendingTasks">Get All Pending Tasks</a></li>
      <li><a href="/task/pendingTaskByDate">Get Pending Task By Date</a></li>
      <li><a href="/task/getAllFinishTasks">Get Finished Tasks</a></li>
</nav>

<body>
<h1 style="text-align: center">Edit Page</h1>
<h1 style="text-align: center;color: green">Edit Your Task </h1>
<form th:action="@{/task/edit}" method="POST" align="center">
<pre>
		Task Id :: <input type="text" name = "id" th:value ="${task.id}" readonly="readonly"/><br>
		Task 1 :: <input type="text" name = "task1" th:value="${task.task1}"/><br>
		Task 2 :: <input type="text" name = "task2" th:value="${task.task2}"/><br>
		Task 3 :: <input type="text" name = "task3" th:value="${task.task3}"/><br>
		Task 4 :: <input type="text" name = "task4" th:value="${task.task4}"/><br>
		<input type="submit" value="EDIT">
</pre>
</form>
<h3 style="text-align: center;color: teal"><span th:text="${message}"></span></h3>
</body>	
</html>