<!DOCTYPE html>
<html lang="en">
<head>
  <html xmlns:th="https://www.thymeleaf.org/">
 <title>FINISHED TASK</title>
 <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class=" navbar navbar-default" >
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/task/home}">WorkAlertManagement</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a th:href="@{/task/home}">Home</a></li>
			<li><a href="/task/addNewTask">Add New Task</a></li>
			<li><a href="/task/pendingTasks">Get All Pending Tasks</a></li>
			<li><a href="/task/getAllFinishTasks">Get Finished Tasks</a></li>
			<li><a href="/profile/getProfile">PROFILE</a></li>
<!--     	  	<li><a href="/userLogin/home">Logout</a></li> -->
			<li><a th:href="@{/userLogin/getSignupPage}">SIGNUP</a></li>
			<li><a th:href="@{/customUserLogin/getLoginPage}">LOGIN </a></li>
	      	<li><a href="/customUserLogin/customLogout">LOGOUT</a></li>
	</nav>
<div class="container bg-primary">
		<h3 style="text-align: center" >Finished Task <img src="https://img.icons8.com/office/50/000000/test-passed.png"/></h3>
		<a th:href="@{/task/getFinishTaskChecklist}">
					<p align="right"><input type="button" value="CHECKLISTT" class="btn btn-warning"></a></p>
				</a> 
	</div><br>
<div class="container">
<!-- <form th:action="@{/task/finishTasks}" method="POST"> -->
	<div class="container">
	<table class="table table-hover table-bordered text-center">
	<thead class="bg-info text-danger">
		<tr>
			<th class="text-center" width="130">Id</th>
			<th class="text-center" width="130">Task1</th>
			<th class="text-center" width="130">Task2</th>
			<th class="text-center" width="130">Task3</th>
			<th class="text-center" width="130">Task4</th>
			<th class="text-center" width="130">Finished Task Date</th>
			<th class="text-center" width="130">Task Modified Date</th>
			<th class="text-center" width="400">Operations</th>
		</tr>
		</thead>
		<tbody>
		<tr th:each="ob:${finishTaskList}">
			<td th:text="${ob.id}"></td>
			<td th:text="${ob.task1}"></td>
			<td th:text="${ob.task2}"></td>
			<td th:text="${ob.task3}"></td>
			<td th:text="${ob.task4}"></td>
			<td th:text="${ob.finishTaskDate}"></td>
			<td th:text="${ob.taskModifiedDate}"></td>
			<td>
				<a th:href="@{/task/addToChecklist(id=${ob.id})}">
					<input type="button" value="ADD TO CHECKLIST" class="btn btn-warning">&ensp;&ensp;
				</a>
			
				<a th:href="@{/task/editFinishPage(id=${ob.id})}">
					<input type="button" value="EDIT" class="btn btn-primary">&ensp;&ensp;
				</a>
				<a th:href="@{/task/deleteFinishTask(id=${ob.id})}">
					<input type="button" value="DELETE" class="btn btn-danger"></a>
				</a> 
			</td>
		</tr>
		</tbody>
	</table>
	</div>
	<span><a href="${message}"></a></span>
	<span><a href="${delete}"></a></span>
<!-- </form> -->
</div>
<body>

</body>
</html>