<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<title>FINISHED TASK</title>
</head>

<h1 style="text-align: center;color: blue">FINISHED TASK</h1>

<form th:action="@{/task/finishTasks}" method="POST">
	<table border="1" align="center">
		<tr>
			<th>Id</th>
			<th>Task1</th>
			<th>Task2</th>
			<th>Task3</th>
			<th>Task4</th>
			<th>Finished Task Date</th>
			<th>Operations</th>
		</tr>
		<tr th:each="ob:${finishTaskList}">
			<td th:text="${ob.id}"></td>
			<td th:text="${ob.task1}"></td>
			<td th:text="${ob.task2}"></td>
			<td th:text="${ob.task3}"></td>
			<td th:text="${ob.task4}"></td>
			<td th:text="${ob.finishTaskDate}"></td>
			<td>
				<a href="#">EDIT</a> |
				<a th:href="@{/task/deleteTask(id=${ob.id})}">DELETE</a> 
			</td>
		</tr>


	</table>
	<span><a href="${message}"></a></span>
	<span><a href="${delete}"></a></span>
</form>
<h3 style="text-align: center"><a th:href="@{/task/home}">Back</a></h3>
<br>
<body>

</body>
</html>