<!DOCTYPE html>
<html lang="en">
<head>
<html xmlns:th="https://www.thymeleaf.org/">
<title>Task Page</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<nav class=" navbar navbar-default" >
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/task/home}">WorkAlertManagement</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a th:href="@{/task/home}">Home</a></li>
			<li><a href="/task/addNewTask">Add New Task</a></li>
			<li><a href="/task/pendingTasks">Get All Pending Tasks</a></li>
			<li><a href="/task/getAllFinishTasks">Get Finished Tasks</a></li>
			<li><a href="/profile/getProfile">PROFILE</a></li>
<!--     	  	<li><a href="/userLogin/home">Logout</a></li> -->
			<li><a th:href="@{/userLogin/getSignupPage}">SIGNUP</a></li>
			<li><a th:href="@{/customUserLogin/getLoginPage}">LOGIN </a></li>
	      	<li><a href="/customUserLogin/customLogout">LOGOUT</a></li>
	</nav>


<h1 style="text-align: center;color: window">Welcome to Task Management System</h1>

	<h2 style="text-align: center;">
<!-- 		<a th:href="@{/userLogin/getLoginPage}">LOGIN </a>or -->
		<a th:href="@{/login}">LOGIN </a><br>
		<a th:href="@{/userLogin/getSignupPage}">SIGNUP</a>
	</h2>
<h3 style="text-align: center;color: navy"><span th:text="${message}"></span></h3>
</html>