<!DOCTYPE html>
<html lang="en">
<head>
	<html xmlns:th="https://www.thymeleaf.org/">
	<title>Dummy</title>
	<meta charset="utf-8">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<h1>Dummy Document</h1>

<table class="table">
	<thead>
		<th>SN</th>
		<th>Parameter</th>
		<th>1</th>
		<th>2</th>
		<th>3</th>
		<th>4</th>
		<th>5</th>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Total Length (12.50/13.00)</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
		</tr>
		<tr>
			<td>2</td>
			<td>Hex (A/F 10)</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
		</tr>
		<tr>
			<td>3</td>
			<td>I.D (4.90/5.10)</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
		</tr>
		<tr>
			<td>4</td>
			<td>O.D (9.80/10.20)</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
			<td>#</td>
		</tr>
	</tbody>
</table>

</html>