<!DOCTYPE html>
<html lang="en">
<head>
  <html xmlns:th="https://www.thymeleaf.org/">
 <title>Task By Date</title>
 <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<nav class="navbar navbar-default">
	<div class="navbar-header">
		<a class="navbar-brand" th:href="@{/task/home}">WorkAlertManagement</a>
	</div>
	<ul class="nav navbar-nav">
      <li class="active"><a th:href="@{/task/home}">Home</a></li>
      <li><a href="/task/addNewTask">Add New Task</a></li>
      <li><a href="/task/pendingTasks">Get All Pending Tasks</a></li>
      <li><a href="/task/pendingTaskByDate">Get Pending Task By Date</a></li>
      <li><a href="/task/getAllFinishTasks">Get Finished Tasks</a></li>
</nav>

<form th:action="@{/task/allTaskByDate}" method="POST" align="center">
<h1>show All Data</h1>
	Select Date :: <input type="date" name="taskDate">
	<input type="submit" value="Get Tasks">
</form>
<body>

</body>
</html>