<!DOCTYPE html>
<html lang="en">
<head>
<html xmlns:th="https://www.thymeleaf.org/">
<title>Task Page</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<nav class=" navbar navbar-default" >
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/task/home}">WorkAlertManagement</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a th:href="@{/task/home}">Home</a></li>
			<li><a href="/task/addNewTask">Add New Task</a></li>
			<li><a href="/task/pendingTasks">Get All Pending Tasks</a></li>
			<li><a href="/task/pendingTaskByDate">Get Pending Task By Date</a></li>
			<li><a href="/task/getAllFinishTasks">Get Finished Tasks</a></li>
			<li><a href="/profile/getProfile">Profile</a></li>
<!--     	  	<li><a href="/userLogin/home">Logout</a></li> -->
			<li><a th:href="@{/userLogin/getSignupPage}">SIGNUP</a></li>
			<li><a th:href="@{/customUserLogin/getLoginPage}">LOGIN </a></li>
	      	<li><a href="/customUserLogin/customLogout">LOGOUT</a></li>
	</nav>
	<div class="container bg-primary">
		<h3 style="text-align: center" >Add Your Subject</h3>
	</div><br>
<div class="container bg-info" align="center">
<body>

	<form th:action="@{/learner/register}" method="POST" class="form-inline"
		align="center">
		<table class="table table-hover table-bordered">
			<div>
				<label for="subjectName">Subject ::</label> 
				<input type="text" class="form-control" id="subjectName" placeholder="Add Your Subject" name="subjectName">
				<div>
					<br>
					<!-- <div>
						<label for="startDate">Start Date ::</label> <input type="text"
							class="form-control" id="task2" placeholder="Select Start Date"
							name="startDate">
					</div>
					<br>
					<div>
						<label for="targetDate">Target Date ::</label> <input type="text"
							class="form-control" id="targetDate" placeholder="Select Target Date"
							name="targetDate">
					</div> -->
					<br>
					<br>
					<div>
						<input type="submit" value="ADD NEW SUBJECT" class="btn btn-success">
					</div>
		</table>
	</form>
</body>
</div>
	<div th:if="${resultMsg!=null}" class="container">
		<div class="alert alert-success" align="center">
			<strong>Success!</strong><br>
			<span th:text="${resultMsg}"></span>
		</div>
	</div>
</html>