<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">

<h1 style="text-align: center;color: threedface">SIGN UP</h1>

<form th:action="@{/userLogin/saveUser}" method="POST" >
	<table align="center">
		<tr>
			<td>username </td>
			<td><input type="text" name="userName" required="required"></td>		
		</tr>
			<td>email </td>
			<td><input type="text" name="email" required="required"></td>		
		</tr>
			<td>password </td>
			<td><input type="password" name="password" required="required"></td>		
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="SIGN UP">
				<a th:href="@{/userLogin/home}"><input type="button" value="CANCEL"/></a>
			</td>
		</tr>
	</table>
</form>
</html>