<!DOCTYPE html>
<html lang="en">
<head>
<html xmlns:th="https://www.thymeleaf.org/">
<title>Task Page</title>
<meta charset="utf-8">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<nav class=" navbar navbar-default" >
		<div class="navbar-header">
			<a class="navbar-brand" th:href="@{/task/home}">WorkAlertManagement</a>
		</div>
		<ul class="nav navbar-nav">
			<li class="active"><a th:href="@{/task/home}">Home</a></li>
			<li><a href="/task/addNewTask">Add New Task</a></li>
			<li><a href="/task/pendingTasks">Get All Pending Tasks</a></li>
			<li><a href="/task/pendingTaskByDate">Get Pending Task By Date</a></li>
			<li><a href="/task/getAllFinishTasks">Get Finished Tasks</a></li>
			<li><a href="#">Profile</a></li>
<!--     	  	<li><a href="/userLogin/home">Logout</a></li> -->
			<li><a th:href="@{/userLogin/getSignupPage}">SIGNUP</a></li>
			<li><a th:href="@{/customUserLogin/getLoginPage}">LOGIN </a></li>
	      	<li><a href="/customUserLogin/customLogout">LOGOUT</a></li>
	</nav>
	
<h1 style="text-align: center;color: threedface">SIGN UP</h1>

<form th:action="@{/userLogin/saveUser}" method="POST" >
	<table align="center">
		<tr>
			<td>username </td>
			<td><input type="text" name="userName" required="required"></td>		
		</tr>
			<td>email </td>
			<td><input type="text" name="email" required="required"></td>		
		</tr>
			<td>password </td>
			<td><input type="password" name="password" required="required"></td>		
		</tr>
		<tr>
			<td colspan="2" align="center"><input type="submit" value="SIGN UP">
				<a th:href="@{/userLogin/home}"><input type="button" value="CANCEL"/></a>
			</td>
		</tr>
	</table>
</form>
</html>